<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="~{fragments :: head}"></div>
    <title>Dashbord</title>
  </head>
  <body>
    <header>
      <div th:replace="~{navbar :: navbar}"></div>
    </header>
    <main>
      <div class="container py-3">
        <div class="row">
          <!-- alert ticket creation -->
          <div th:if="${successMsg != null}">
            <div
              class="alert alert-success alert-dismissible fade show my-3"
              role="alert"
            >
              <span th:text="${successMsg}"></span>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
          </div>
          <!-- alert ticket update -->
          <div th:if="${updateMsg != null}">
            <div
              class="alert alert-success alert-dismissible fade show my-3"
              role="alert"
            >
              <span th:text="${updateMsg}"></span>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
          </div>
          <!-- alert ticket delete -->
          <div th:if="${deleteMsg != null}">
            <div
              class="alert alert-success alert-dismissible fade show my-3"
              role="alert"
            >
              <span th:text="${deleteMsg}"></span>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
          </div>
          <div class="col-12">
            <!-- search form -->
            <form th:action="@{/tickets}" method="get">
              <div class="input-group">
                <input
                  name="keyword"
                  th:value="${keyword}"
                  class="form-control"
                  type="search"
                  placeholder="Search by title"
                  aria-label="Search"
                />
                <button class="btn btn-primary" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </form>
          </div>
          <!-- allticket or allticketByKeyword -->
          <div class="col-12 table-responsive">
            <table
              th:unless="${tickets.isEmpty()}"
              class="table align-middle table-striped"
            >
              <thead>
                <tr>
                  <th>Title</th>
                  <th class="d-none d-md-table-cell">Status</th>
                  <th
                    sec:authorize="hasAuthority('ADMIN')"
                    class="d-none d-md-table-cell"
                  >
                    User
                  </th>
                  <th class="d-none d-md-table-cell">Category</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="ticket : ${tickets}">
                  <td
                    th:text="${ticket.title}"
                    class="text-truncate"
                    style="max-width: 150px"
                  ></td>
                  <td
                    class="col-2 text-truncate d-none d-md-table-cell"
                    th:text="${ticket.statusTicket.name}"
                    style="max-width: 150px"
                  ></td>
                  <td
                    class="d-none d-md-table-cell text-truncate"
                    th:text="${ticket.user.username}"
                    sec:authorize="hasAuthority('ADMIN')"
                    style="max-width: 150px"
                  ></td>
                  <td
                    class="col-3 d-none d-md-table-cell text-truncate"
                    style="max-width: 150px"
                    th:text="${ticket.category.name}"
                  ></td>
                  <td class="col-2">
                    <div class="d-flex flex-wrap justify-content-around">
                      <a
                        class="btn btn-primary btn-sm mb-1"
                        style="width: 32px"
                        title="Details"
                        th:href="@{tickets/show/{id}?keyword={key} (id=${ticket.id}, key=${keyword})}"
                        ><i class="fa fa-info"></i
                      ></a>
                      <a
                        class="btn btn-primary btn-sm mb-1"
                        title="Edit"
                        th:href="@{tickets/edit/{id} (id=${ticket.id})}"
                        ><i class="fa fa-edit"></i
                      ></a>
                      <a
                        class="btn btn-primary btn-sm mb-1"
                        title="Add Note"
                        th:href="@{notes/create/{id} (id=${ticket.id})}"
                        ><i class="fa fa-notes-medical"></i
                      ></a>
                      <form
                        sec:authorize="hasAuthority('ADMIN')"
                        action="#"
                        th:action="@{tickets/delete/{id} (id=${ticket.id})}"
                        method="post"
                      >
                        <button
                          class="btn btn-danger btn-sm"
                          style="width: 32px"
                          type="submit"
                          id="submitButton"
                          onclick="return confirm('Are you sure?')"
                        >
                          <i class="fa fa-trash-alt"></i>
                        </button>
                      </form>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div
              class="alert alert-warning"
              role="alert"
              th:if="${tickets.isEmpty()}"
            >
              There are no tickets in the database
            </div>
          </div>
        </div>
      </div>
    </main>

    <div th:replace="~{fragments :: bsScript}"></div>
  </body>
</html>
