<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="~{fragments :: head}"></div>
    <title>Ticket Details</title>
  </head>
  <body>
    <header>
      <div th:replace="~{navbar :: navbar}"></div>
    </header>
    <main>
      <div class="container">
        <div class="row">
          <div th:if="${successMsg != null}">
            <div
              class="alert alert-success alert-dismissible fade show my-3"
              role="alert"
            >
              <span th:text="${successMsg}"></span>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
          </div>
          <div th:if="${succesNoteMsg != null}">
            <div
              class="alert alert-success alert-dismissible fade show my-3"
              role="alert"
            >
              <span th:text="${succesNoteMsg}"></span>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
          </div>
          <div class="col-12 my-2">
            <dl th:object="${ticket}">
              <dt>Title</dt>
              <dd th:text="*{title}" class="ps-2"></dd>
              <dt>Status Ticket</dt>
              <dd th:text="*{statusTicket.name}" class="ps-2"></dd>
              <dt>User</dt>
              <dd th:text="*{user.username}" class="ps-2"></dd>
              <dt>Category</dt>
              <dd th:text="*{category.name}" class="ps-2"></dd>
              <dt>Text</dt>
              <dd th:text="*{text}" class="ps-2"></dd>
              <dt>Notes</dt>
              <dd th:unless="*{notes.isEmpty()}" class="mt-2">
                <div class="accordion" id="accordion">
                  <div class="accordion-item" th:each="note : *{notes}">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        th:data-bs-target="|#collapse_${note.id}|"
                        data-bs-parent="accordion"
                        aria-expanded="false"
                        th:aria-controls="|collapse_${note.id}|"
                        th:text="|create by ${note.user.username} at ${note.creationDate}|"
                      ></button>
                    </h2>
                    <div
                      th:id="|collapse_${note.id}|"
                      class="accordion-collapse collapse"
                      data-bs-parent="#accordion"
                    >
                      <div class="accordion-body" th:text="${note.text}"></div>
                    </div>
                  </div>
                </div>
              </dd>
              <dd th:if="*{notes.isEmpty()}">
                There aren't notes for this ticket
              </dd>
            </dl>
          </div>
          <div class="col-12 mt-auto">
            <a
              class="btn btn-primary"
              title="Add Note"
              th:href="@{/notes/create/{id} (id=${ticket.id})}"
              >Add a note <i class="fa fa-notes-medical"></i
            ></a>
            <a
              th:href="@{/tickets?keyword={key}(key=${keyword})}"
              class="btn btn-primary"
              >Back to tickets</a
            >
          </div>
        </div>
      </div>
    </main>

    <div th:replace="~{fragments :: bsScript}"></div>
  </body>
</html>
