<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="~{fragments :: head}"></div>
    <title th:text="|Profile of ${user.username}|"></title>
  </head>
  <body>
    <header>
      <div th:replace="~{navbar :: navbar}"></div>
    </header>
    <main>
      <div class="container py-3">
        <div class="row">
          <div th:if="${successMsg != null}">
            <div
              class="alert alert-success alert-dismissible fade show my-3"
              role="alert"
            >
              <span th:text="${successMsg}"></span>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
          </div>
          <p th:text="${bindingResult}"></p>
          <h1
            class="text-center mb-5 h2"
            th:text="|Profile of ${user.username}|"
          ></h1>
          <div class="col-12">
            <h2 class="h4 text-center">Change Status</h2>
            <form
              id="userForm"
              class="row g-3 justify-content-center"
              th:action="@{/users/update}"
              th:object="${user}"
              method="post"
            >
              <div class="col-md-4">
                <label for="status" class="form-label">Status</label>
                <select
                  th:field="*{status}"
                  class="form-select"
                  th:errorClass="is-invalid"
                >
                  <option value="true" th:selected="*{status == true}">
                    Available
                  </option>
                  <option value="false" th:selected="*{status == false}">
                    Not Available
                  </option>
                </select>
                <div
                  th:if="${#fields.hasErrors('status')}"
                  class="invalid-feedback"
                >
                  <ul>
                    <li
                      th:each="err : ${#fields.errors('status')}"
                      th:text="${err}"
                    ></li>
                  </ul>
                </div>
              </div>
              <div class="col-12 text-center">
                <button
                  class="btn btn-success"
                  type="submit"
                  onclick="return confirm('Are you sure?')"
                >
                  Update <i class="fa fa-floppy-disk"></i>
                </button>
              </div>
            </form>
          </div>
          <hr class="my-4" />
          <div class="col-12">
            <h2 class="h4">Change Password</h2>
            <form
              id="changePasswordForm"
              th:action="@{/password/change}"
              class="row g-3"
              th:object="${passwordChanger}"
              method="post"
            >
              <div class="col-md-4">
                <label for="actualPassword" class="form-label"
                  >Actual Password</label
                >
                <div class="input-group">
                  <input
                    type="password"
                    class="form-control"
                    id="actualPassword"
                    th:field="*{actualPassword}"
                    th:errorClass="is-invalid"
                  />
                  <i
                    class="input-group-text fa fa-eye"
                    id="toggleActualPassword"
                    style="cursor: pointer"
                  ></i>
                  <div
                    th:if="${#fields.hasErrors('actualPassword')}"
                    class="invalid-feedback"
                  >
                    <ul>
                      <li
                        th:each="err : ${#fields.errors('actualPassword')}"
                        th:text="${err}"
                      ></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <label for="newPassword" class="form-label">New Password</label>
                <div class="input-group">
                  <input
                    id="newPassword"
                    type="password"
                    class="form-control"
                    th:field="*{newPassword}"
                    th:errorClass="is-invalid"
                  />
                  <i
                    class="input-group-text fa fa-eye"
                    id="toggleNewPassword"
                    style="cursor: pointer"
                  ></i>
                  <div
                    th:if="${#fields.hasErrors('newPassword')}"
                    class="invalid-feedback"
                  >
                    <ul>
                      <li
                        th:each="err : ${#fields.errors('newPassword')}"
                        th:text="${err}"
                      ></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <label for="confirmNewPassword" class="form-label"
                  >Confirm New Password</label
                >
                <div class="input-group">
                  <input
                    id="confirmNewPassword"
                    type="password"
                    class="form-control"
                    th:field="*{confirmNewPassword}"
                    th:errorClass="is-invalid"
                  />
                  <i
                    class="input-group-text fa fa-eye"
                    id="toggleConfirmNewPassword"
                    style="cursor: pointer"
                  ></i>
                  <div
                    th:if="${#fields.hasErrors('confirmNewPassword')}"
                    class="invalid-feedback"
                  >
                    <ul>
                      <li
                        th:each="err : ${#fields.errors('confirmNewPassword')}"
                        th:text="${err}"
                      ></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <button
                  class="btn btn-success"
                  type="submit"
                  onclick="return confirm('Are you sure?')"
                >
                  Update <i class="fa fa-floppy-disk"></i>
                </button>
              </div>
            </form>
          </div>
          <hr class="my-4" />
          <div class="col-12">
            <h2 class="h4">Your Ticket</h2>
            <table
              th:unless="${tickets.isEmpty()}"
              class="table align-middle table-striped table-sm"
            >
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Status</th>
                  <th>Category</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="ticket : ${tickets}">
                  <td th:text="${ticket.title}"></td>
                  <td th:text="${ticket.statusTicket.name}"></td>
                  <td th:text="${ticket.category.name}"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div
            class="alert alert-warning"
            role="alert"
            th:if="${tickets.isEmpty()}"
          >
            You don't have any tickets
          </div>
        </div>
      </div>
    </main>
    <script src="/script.js"></script>
    <div th:replace="~{fragments :: bsScript}"></div>
  </body>
</html>
