<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="~{fragments :: head}"></div>
    <title>Error - 500</title>
  </head>
  <body>
    <div class="container">
      <dv class="row">
        <div class="col text-center">
          <h1 class="mt-5">An Error Occurred - 500</h1>
          <p class="fs-4 my-4"><i class="fa-regular fa-face-frown"></i> Sorry, the server decided to take a break</p>
          <a href="/" class="btn btn-primary">Return to Home <i class="fa-solid fa-house"></i></a>
        </div>
      </div>
    </div>
  </body>
</html>
